body{
  background-color:#CFBCAE;
}



.jumbotron{
  background-color:#CFBCAE;
}

.navbar-weather{
  background-color: #4266C1;
}

.navbar-stack{
  background-color: #F45D3B;
}

.navbar-brand{
  color: black;
  text: bold;
}

.navbar-brand:hover{
    color: black;
}


.nav-item-active{
  background-color:#CFBCAE;

  text-align: left;
  display: inline-block;
  border-radius: 4px;

}

.nav-link{
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}



.nav-link-stack:hover{
  color: white;
  background-color:#F45D3B;

}

.nav-link-weather:hover{
  color: white;
  background-color:#4266C1;

}


.stack{
  padding-top: 20px;
}

.stack-link{
  color: black;
  padding-left: 20px;
}
